*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: DM Sans, "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 150%;
  background-color: var(--cream);
}

:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

/* **************************************** */

.container {
  margin: 3.125rem auto;
  width: 33.75rem;
  padding: 0px 1.25rem;
}

.balance {
  border-radius: 1.25rem;
  background-color: var(--soft-red);

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .balance__content {
    display: flex;
    gap: 0.625rem;
    justify-content: space-between;
    padding: 1.875rem;
  }

  .balance__info {
    color: var(--very-pale-orange);
  }

  .balance__title {
    font-size: 0.8125rem;
    font-weight: inherit;

    &:not(:last-child) {
      margin-bottom: 0.3125rem;
    }
  }

  .balance__sum {
    font-weight: 700;
    font-size: 1.5625rem;
  }
}

.spending {
  border-radius: 1.25rem;
  background-color: var(--very-pale-orange);

  .spending__content {
    padding: 1.875rem;
  }

  .spending__title {
    font-weight: 700;
    color: var(--dark-brown);
  }
}

.charts {
  position: relative;
  display: flex;
  gap: 0.625rem;
  width: 27.5rem;
  padding: 3.75rem 0px 1.25rem 0px;
  border-bottom: 0.125rem solid var(--cream);
}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .chart__price {
    display: none;
    position: absolute;
    z-index: 2;
    font-weight: inherit;
    font-size: 0.9375rem;
    border-radius: 0.1875rem;
    padding: 0.3125rem;
    color: var(--very-pale-orange);
    background-color: var(--dark-brown);

    &.active {
      display: flex;
    }
  }

  .price_mon {
    top: 27%;
  }

  .price_tue {
    top: 1.5%;
  }

  .price_wed {
    top: -28.5%;
  }

  .price_thu {
    top: 7.2%;
  }

  .price_fri {
    top: 20.5%;
  }

  .price_sat {
    top: -12%;
  }

  .price_sun {
    top: 18%;
  }

  .chart__day {
    width: 3.125rem;
    font-size: 0.9375rem;
    text-align: center;
    color: var(--medium-brown);
  }
}

.chart_mon {
  height: 2.8125rem;
}

.chart_tue {
  height: 5.3125rem;
}

.chart_wed {
  height: 8.125rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  background-color: var(--cyan);

  &:hover {
    opacity: 0.7;
  }
}

.chart_thu {
  height: 4.6875rem;
}

.chart_fri {
  height: 3.4375rem;
}

.chart_sat {
  height: 6.5625rem;
}

.chart_sun {
  height: 3.75rem;
}

.total {
  .total__content {
    display: flex;
    gap: 0.625rem;
    justify-content: space-between;
    padding-top: 1.5625rem;
  }
}

.this-month {
  .this-month__title:not(:last-child) {
    margin-bottom: 0.4375rem;
  }

  .this-month__sum {
    font-size: 2.5rem;
  }
}

.last-month {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .last-month__percent {
    text-align: right;
  }

  .last-month__title {
    text-align: end;
  }

  .last-month__percent,
  .last-month__title {
    height: 1.25rem;
  }
}

.this-month__title,
.last-month__title {
  font-weight: inherit;
  font-size: 1rem;
  color: var(--medium-brown);
}

.last-month__percent,
.this-month__sum {
  font-weight: 700;
  color: var(--dark-brown);
}

.chart_mon,
.chart_tue,
.chart_thu,
.chart_fri,
.chart_sat,
.chart_sun {
  cursor: pointer;
  border-radius: 0.3125rem;
  background-color: var(--soft-red);

  &:hover {
    opacity: 0.7;
  }
}

/* MOBILE */

@media (max-width: 767px) {
  .container {
    width: 26.75rem;
  }

  .charts {
    width: 22.5rem;
  }

  .chart {
    width: 2.5rem;

    .chart__price {
      right: -0.375rem;
      padding: 0.1875rem;
    }
  }

  .spending {
    .spending__content {
      padding: 1.25rem 1.25rem 2.1875rem 1.25rem;
    }
  }
}
