*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: DM Sans, "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 150%;
  background-color: var(--cream);
}

:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --hover-opacity: 0.7
}

/* **************************************** */

.container {
  margin: 3.125rem auto;
  width: 33.75rem;
  padding: 0px 1.25rem;
}

/* balance */

.balance {
  border-radius: 1.25rem;
  background-color: var(--soft-red);

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .balance__content {
    display: flex;
    gap: 0.625rem;
    justify-content: space-between;
    padding: 1.875rem;
  }

  .balance__info {
    color: var(--very-pale-orange);
  }

  .balance__title {
    font-size: 0.8125rem;
    font-weight: inherit;

    &:not(:last-child) {
      margin-bottom: 0.3125rem;
    }
  }

  .balance__sum {
    font-weight: 700;
    font-size: 1.5625rem;
  }
}

/* spending */

.spending {
  border-radius: 1.25rem;
  background-color: var(--very-pale-orange);

  .spending__content {
    padding: 5%
  }

  .spending__title {
    font-weight: 700;
    text-align: center;
    color: var(--dark-brown);
  }
}

/* charts */

.charts {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2.2%;
  width: 100%; 
  padding: 3.75rem 0px 1.25rem 0px;
  border-bottom: 0.125rem solid var(--cream);
}

#chart {
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: var(--hover-opacity);
  }
}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .chart__price {
    display: none;
    position: absolute;
    z-index: 2;
    font-weight: inherit;
    font-size: 0.9375rem;
    border-radius: 0.1875rem;
    padding: 0.3125rem;
    color: var(--very-pale-orange);
    background-color: var(--dark-brown);

    &.active {
      display: flex;
    }
  }

  .price-mon {
    top: 27%;
  }

  .price-tue {
    top: 1.5%;
  }

  .price-wed {
    top: -28.5%;
  }

  .price-thu {
    top: 7.2%;
  }

  .price-fri {
    top: 20.5%;
  }

  .price-sat {
    top: -12%;
  }

  .price-sun {
    top: 18%;
  }

  .chart__day {
    width: 3.125rem;
    font-size: 0.9375rem;
    text-align: center;
    color: var(--medium-brown);
  }

  .chart-mon {
    height: 2.8125rem;
  }

  .chart-tue {
    height: 5.3125rem;
  }

  .chart-wed {
    height: 8.125rem;
    background-color: var(--cyan);
  }

  .chart-thu {
    height: 4.6875rem;
  }

  .chart-fri {
    height: 3.4375rem;
  }

  .chart-sat {
    height: 6.5625rem;
  }

  .chart-sun {
    height: 3.75rem;
  }

  :is(.chart-mon, .chart-tue, .chart-thu, .chart-fri, .chart-sat, .chart-sun) {
    background-color: var(--soft-red);
  }
}

/* total */

.total {
  .total__content {
    display: flex;
    gap: 0.625rem;
    justify-content: space-between;
    padding-top: 1.5625rem;
  }
}

.this-month {
  .this-month__title:not(:last-child) {
    margin-bottom: 0.4375rem;
  }

  .this-month__sum {
    font-size: 2.5rem;
  }
}

.last-month {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .last-month__percent {
    text-align: right;
  }

  .last-month__title {
    text-align: end;
  }

  :is(.last-month__percent, .last-month__title) {
    height: 1.25rem;
  }
}

:is(.this-month__title, .last-month__title) {
  font-weight: inherit;
  font-size: 1rem;
  color: var(--medium-brown);
}

:is(.last-month__percent, .this-month__sum) {
  font-weight: 700;
  color: var(--dark-brown);
}

/* MOBILE */

@media (max-width: 767px) {
  .container {
    width: 26.75rem;
  }

  .chart {
    width: 2.5rem;

    .chart__price {
      right: -0.375rem;
      padding: 0.1875rem;
    }
  }
}
